a.plain-link {
  color: inherit !important;
  text-decoration: none !important;
}

.user-stats-wrapper {
  margin-top: 10px;
}

.user-stats {
  font-size: 13px;
}

.user-headline-name p {
  margin: 0 0 -10px;
  font-size: 56px;
}

.user-headline-name small {
  font-size: 20px;
  margin-left: 4px;
}

.user-links {
  margin-top: 2em;
}

.link-set h3 {
  margin-bottom: -10px;
}

.link-set h3 > a {
  margin-left: 10px;
  font-size: .6em;
}

.link-set h3 > a:hover {
  color: #868e96;
}

.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card-set {
  padding: 0;
}

.card-deck {
  width: 100% !important;
}

.result-list {
  border: none;
}

.result-box:hover {
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.25);
}

.result-list img {
  margin-right: 1em;
  border-radius: 20px;
}

.result-text {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .hide-on-small {
    display: none;
  }
}

@media (min-width: 768px) {
  .user-headline-name {
    margin: -5em auto 0 auto;
  }
}
